body {
  margin: 0;
}

@keyframes push_401 {
  0%,
  50% {
    transform: translate(-50%, 0%) scale(1);
  }

  100% {
    transform: translate(-50%, -100%) scale(0);
  }
}

.active-cart {
  top: 0;
  right: 0 !important;
}

.cart {
  background-color: red;
}

@media (min-width: 0px) {
  .cart {
    right: -90%;
  }
}
@media (min-width: 600px) {
  .cart {
    right: -80%;
  }
}
@media (min-width: 900px) {
  .cart {
    right: -60%;
  }
}
@media (min-width: 1200px) {
  .cart {
    right: -40%;
  }
}

.choose-size {
  display: none !important;
}

.active-size {
  display: inline-flex !important;
}

.product-card:hover .imageContainer {
  transform: scale(1.1);
}
.imageContainer {
  transform-origin: center;
}
.product-card:hover .product-title {
  text-decoration: underline;
  text-underline-offset: 4px;
}

@media (min-width: 0px) {
  .splide__slide {
    width: 15rem !important;
  }
  .splide-wrapper {
    padding: 0 17px;
  }
}
@media (min-width: 600px) {
  .splide__slide {
    width: 17rem !important;
  }
  .splide-wrapper {
    padding: 0 20px;
  }
}
@media (min-width: 900px) {
  .splide__slide {
    width: 20rem !important;
  }
  .splide-wrapper {
    padding: 0 60px;
  }
}
@media (min-width: 1200px) {
  .splide__slide {
    width: 23rem !important;
  }
}
