body {
  margin: 0;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.loader {
  display: block;
  width: 84px;
  height: 84px;
  position: relative;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #222;
  transform: translate(-50%, -100%) scale(0);
  animation: push_401 2s infinite linear;
}

.loader:after {
  animation-delay: 1s;
}

@keyframes push_401 {
  0%,
  50% {
    transform: translate(-50%, 0%) scale(1);
  }

  100% {
    transform: translate(-50%, -100%) scale(0);
  }
}

.active-cart {
  top: 0;
  right: 0 !important;
}

.cart {
  background-color: red;
}

@media (min-width: 0px) {
  .cart {
    right: -90%;
  }
}
@media (min-width: 600px) {
  .cart {
    right: -80%;
  }
}
@media (min-width: 900px) {
  .cart {
    right: -60%;
  }
}
@media (min-width: 1200px) {
  .cart {
    right: -50%;
  }
}


.choose-size {
  display: none !important;
}

.active-size {
  display: inline-flex !important;
}